@import "tailwindcss";

:root {
  --primary: #002546;
  --secondary: #3b82f6;
  --white: #f0f0f0;
  --font: "Quicksand", sans-serif;
  --overskrift: "Winky Sans", sans-serif;
}

body {
  font-family: var(--font);
}

/* Unread badge animations */
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(59, 130, 246, 0.7);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(59, 130, 246, 0);
  }
}

.animate-ripple {
  animation: ripple 1.5s infinite;
}
