@import "tailwindcss";

:root {
  --primary: #002546;
  --secondary: #3b82f6;
  --white: #f0f0f0;
  --font: "Quicksand", sans-serif;
  --overskrift: "Winky Sans", sans-serif;
}

body {
  font-family: var(--font);
}

.overskrift {
  font-family: var(--overskrift);
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.05em;
}